/* CSS variables */
:root {
    --primary: rgb(137, 233, 73);
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --important: rgba(21, 128, 190, 0.692);
    --sell: rgb(235, 231, 27);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: var(--light);
    margin: 30px 50px;
    line-height: 1.4;

}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    border-radius: 0.5rem;
    font-weight: bold;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--light);
}

.nav-links a:hover {
    color: var(--light);
}

.logo a:hover {
    color: var(--light);
}

.logo a {
    color: var(--dark);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li {
    list-style: none;
}

.nav-links a {
    color: var(--dark);
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 14px;
    padding: 0.5rem;
}

/* Burger icon */
.burger div{
    width: 25px;
    height: 3px;
    background-color: var(--dark);
    margin: 5px;
    transition: all 0.3s ease;
}

.burger {
    display: none;
    cursor: pointer;
}

/* Top Container */
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'showcase showcase top-box-a'
        'showcase showcase top-box-b';
}

/* Showcase */
.showcase {
    grid-area: showcase;
    min-height: 400px;
    background-image: url("../img/main-img.jpg");
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
    border-radius: 1rem;
}

.showcase a:hover {
    background: var(--light);
    color: var(--dark);
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
    font-weight: bolder;
    background-color: rgba(104, 104, 104, 0.4);

}

/* Top Box */

.top-box {
    background: var(--sell);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
    border-radius: 1rem;
}

.top-box .price {
    font-size: 2.5rem;
    color: var(--light);
}

.top-box-a {
    grid-area: top-box-a;
    background-image: url("../img/main-img.jpg");
    background-size: cover;
    background-position: center; 
}

.top-box-b {
    grid-area: top-box-b;
    background-image: url("../img/main-img.jpg");
    background-size: cover;
    background-position: center;
}

.top-box {
    color: var(--light);
}

.top-box-a a:hover {
    background: var(--light);
    color: var(--dark);
}

.top-box-b a:hover {
    background: var(--light);
    color: var(--dark);
}

/* Boxes */
.boxes h3 {
    border-top: var(--dark) solid 1px;
    border-bottom: var(--dark) solid 1px;
    padding: 0.5em;
    font-size: 1.5em;
}

.boxes {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
    border-radius: 1rem;
}

.box a:hover {
    background: var(--light);
    color: var(--dark);
}

/* Info/About */
.about-us-box {
    min-height: 300px;
    display: grid;
    grid-gap: 0.4rem;
    grid-template-areas:
        'img-box text-box';
    background-color: var(--important);
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

.about-us-box h2 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 1rem;
    padding: 1rem;
}

.img-box img {
    min-height: 300px;
    grid-area: img-box;
    border-radius: 1rem;
    size: cover;
    position: center;
    box-shadow: var(--shadow);
}

.text-box {
    grid-area: text-box;
    text-align: center;
    background: var(--important);
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

/* Form/Contact us */

form {
    display: flex;
    flex-direction: column;
    min-height: 340px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.3rem;    
}

.form h2 {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 1rem;
    padding: 1rem;
}

.form .btn {
    width: 150px;
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(0, 251, 84, 0.692);
    box-shadow: var(--shadow);
    font-size: 30px;

}

.form .btn:hover {
    background: var(--light);
    color: var(--dark);
    outline: none;
}


.form input[type=email], [type=text], [type=textarea] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    border-radius: 1rem;
    max-width: 500px;
}

textarea {
    height: 150px;
    width: 500px;
    padding: 12px 20px;
    border-radius: 1rem;
    font-size: 16px;
    resize: none;
    margin: 8px 0;
    outline: none;
    font-family: sans-serif;
}

input[type=text]:focus {
    background-color: lightblue;
}

input[type=email]:focus {
    background-color: lightblue;
}

textarea:focus {
    background-color: lightblue;
}
/* Footer */
footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    margin-bottom: -2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* Media Queries */
@media(max-width: 900px) {
    .about-us-box {
        grid-template-areas:
        'img-box'
        'text-box'
    }
}
@media(max-width: 700px) {
    .top-container {
        grid-template-areas:
        'showcase showcase'
        'top-box-a top-box-b'
    }

    .showcase h1 {
        font-size: 2.5rem;
    }

    .info {
        grid-template-columns: 1fr;
    }

    .info .btn {
        display: block;
        text-align: center;
        margin: auto;

    }
}

@media(max-width: 500px) {
    .top-container {
        grid-template-areas:
        'showcase'
        'top-box-a'
        'top-box-b'
    }
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--light);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        justify-items: start;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/* Glow on hover */

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    color: var(--light);
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}